* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #ffffbe;
}
.logo {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-links{
font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero-heading {
    width: 740px;
    margin-top: 0;
}

.superimage {
    width: 100%;
    max-width: 1100px;
    margin-top: 0;
}

#home{
    background-color: #ffffbe;
}
#feature{
    background-color: #f9f9d9;
}
.mainhead{
    font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.imageposter{
    width: 400px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(36, 36, 36);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}
